/*Styly vyjizdejicimu bocnimu oknu*/

aside {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  width: 40vw;
  transform: scalex(0.0);
  transform-origin: right;
  transition: transform 3s cubic-bezier(.17,.84,.44,1);
  background-color: #ededed;
  -webkit-box-shadow: -3px 0px 6px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: -3px 0px 6px 0px rgba(0,0,0,0.4);
  box-shadow: -3px 0px 6px 0px rgba(0,0,0,0.4);
}

#help:target {
  transform: scalex(1.0);
}

aside article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: space-between;
  padding: 1em;
}

aside .close {
  position: absolute;
  top: 0px;
  right: 7px;
  font-size: 4ex;
  font-weight: bold;
  cursor: pointer;
}

.help-title {
  margin-left: 1em;
}

@media (max-width: 800px) {
  aside {
    width: 100vw;
  }
}
