/*Styly ke strance Hra*/

.canvasContainer {
  position: relative;
}

.chooseSongBox {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.readyTostart{
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-content: initial;
  align-items: center;
}

.unvisibility {
  visibility: hidden;
}

#addSong {
  margin-bottom: 1em;
}

.gameAudio {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 25em;
}

.game {
  border: 4px solid white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}