/*Styly k celemu hornimu menu*/

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*flex-grow: 1;
    border-bottom: 1px solid gray;
    height: 3em;*/
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4);
  }

  header svg {
    cursor: pointer;
  }

  .iconText text {
    fill: orange;
    transform: translateY(-200px);
    animation: popdown 3s linear 1;
    animation-fill-mode: forwards;
  }

  .iconText text:nth-child(2) {
    animation-delay: 1s;
  }

  .iconText text:nth-child(3) {
    animation-delay: 2s;
  }

  @keyframes popdown {
    0% { transform: translateY(-200px); }
    50% { transform: translateY(-100px); }
    100% { transform: translateY(0px); }
  }

  .letterShadows ellipse {
    transform:  scale(0.0);
    animation: showShadow 3s linear 1;
    animation-fill-mode: forwards;
  }

  .letterShadows ellipse:nth-child(1) {
    transform-origin: 60px 160px;
  }

  .letterShadows ellipse:nth-child(2) {
    transform-origin: 170px 160px;
    animation-delay: 1s;
  }

  .letterShadows ellipse:nth-child(3) {
    transform-origin: 300px 160px;
    animation-delay: 2s;
  }

  @keyframes showShadow {
    0% { transform: scale(0.0); }
    50% { transform: scale(0.5); }
    100% { transform: scale(1.0); }
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
    align-content: stretch;
    width: 70%;
    height: 100%;
  }

  nav div {
    width: 9em;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: white;
    transition: all 0.5s;
    cursor: pointer;
  }

  nav div:last-child {
    position: absolute;
    right: 0;
  }

  nav div a {
    display: block;
    text-decoration: none;
    color: black;
  }

  nav div:hover {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
  }

  nav div:active {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    background-color: #ededed;
  }

  .actualButton {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    background-color: #ededed;
  }

  .easterEgg {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
  }

  .onBackSide {
    opacity: 0.5;
  }

  @media (max-width: 800px) {
    header {
      flex-direction: column;
    }

    nav{
      flex-direction: column;
    }

    nav div {
      width: 90%;
    }

    nav div:last-child {
      position: relative;
    }

    nav div:hover {
      border: 1px solid gray;
    }

    nav div:active {
      border: 1px solid gray;
    }

    .actualButton {
      border: 1px solid gray;
    }

    aside {
      width: 100vw;
    }
  }