/*Styly k uvodnimu loadingu*/

.load {
    height: 220px;
}

.load rect {
    transform-origin: 100px 100px;
}

.load rect:nth-child(2) {
    animation: rotating 5s linear infinite;
}

.load rect:nth-child(3) {
    animation: rotating 5s linear infinite reverse;
}

.load rect:nth-child(4) {
    animation: rotating 5s linear infinite;
}

.load rect:nth-child(5) {
    animation: rotating 5s linear infinite reverse;
}

@keyframes rotating {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(18deg);}
    20% {transform: rotate(0deg);}
    30% {transform: rotate(-18deg);}
    40% {transform: rotate(0deg);}
    50% {transform: rotate(18deg);}
    60% {transform: rotate(108deg);}
    70% {transform: rotate(198deg);}
    80% {transform: rotate(288deg);}
    100% {transform: rotate(360deg);}
}