/*Styly ke strance profil*/

section form {
  width: 20em;
}

.avatarContainer {
  position: relative;
  width: 10em;
  height: 10em;
}

.avatarContainer:hover:after {
  /*content: "\1F589";*/
  content: "Drag in";
  position: absolute;
  top: 5px;
  right: 25px;
}

.avatar {
  width: 10em;
  height: 10em;
  border: 1px solid gray;
  border-radius: 3em;
  cursor: pointer;
  object-fit: cover;
}

section > form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20em;
}

form > input {
  width: 100%;
}

form > label {
  margin-top: 1ex;
}

form > input {
  margin-bottom: 1ex;
}

form > span {
  margin-left: 1em;
}
