/*Obecne styly k cele aplikaci*/

body {
  margin: 0;
  color: #777;
}

.page-layout {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  min-height: 100vh;
}

.zeroPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.infoBar {
  width: 98%;
  padding: 7px;
  margin-top: 1ex;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.4);
  margin-bottom: 1em;
}

.errorInfo {
  color: #d76d6d;
  background-color: #fccece;
  border: 1px solid #f19090;
}

.successInfo {
  color: #6dd780;
  background-color: #d7fcce;
  border: 1px solid #a1f190;
}

.infoBarHidden {
  visibility: hidden;
}

@keyframes hide {
  0% {visibility: visible;}
  100% {visibility: hidden;}
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-grow: 2;
  /*padding: 10px;*/
  width: 100%;
}

main section {
  min-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.clickable{
  cursor: pointer;
}

section > table {
  height: 10em;
  margin-bottom: 1em;
  border-collapse: collapse;
}

td {
  padding: 8px;
  border: 1px solid gray;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:7px 49px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
button:active {
	position:relative;
	top:1px;
}

.removeData {
	-moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
	background-color:#fc8d83;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color: #f7b8b8;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
  padding:7px;
  border: 1px solid #f5a4a4;
	text-decoration:none;
	text-shadow: none;
}
.removeData:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
	background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
	background-color:#e4685d;
}

.buttomsGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  width: 90%;
  margin-top: 1em;
  margin-bottom: 1em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  /*flex-grow: 1;*/
  height: 3em;
  border: 1px solid #777;
  padding: 10px;
}

footer span {
  font-size: 12px;
}
